<ion-content #heartcontainer (click)="spawnHeart($event)" scrollEvents="true" (ionScroll)="onScroll($event)">
    <div class="fireWorks" #fireworkcontainer></div>
    <div id="chest">
      <h3 class="lucky">MATHAN <br>WEDS<br> DHANALAKSHMI</h3>
      <div class="heart left side top"></div>
      <div class="heart center">&hearts;</div>
      <div class="heart right side"></div>
    </div>
    <!-- <p class="lover">Destiny brought them together and now love will seal their bond ... forever</p> -->
    <p class="lover pd5">Cordially solicit your gracious presence with your family and friends on the auspicious occasion of the marriage Reception of our son</p>
    <ion-slides [options]="slideOpts">
      <!-- <ion-slide *ngFor="let i of [1,2,3,4]">
        <img src="assets/img/{{i}}.jpeg">
      </ion-slide> -->
      <ion-slide *ngFor="let i of [1]">
        <img src="assets/img/{{i}}-p.jpeg">
      </ion-slide>
    </ion-slides>
    <br>
    <!-- <div>
      <h4 class="lucky">WEDDING</h4>
      <div #clockcontainer1></div>
      <p class="lover">Sunday 8th December 2019<br>Between 9.00am to 11.00am</p>
    </div> -->
    <div>
      <h4 class="lucky">RECEPTION</h4>
      <div #clockcontainer></div>
      <p class="lover">Wednesday 11th December 2019<br>Between 12.00pm to 3.00pm</p>
    </div>
    <div>
      <h4 class="lucky">VENUE</h4>
      <div class="earthSpin" #earthcontainer></div>
      <!-- <h4 class="lucky">WEDDING</h4>
      <p class="lover">Sankumitta Kalyana Mandapam<br>Sankumitta Cottage,<br> Tirumala</p> -->
      <h4 class="lucky">RECEPTION</h4>
      <p class="lover">Saravana Mahal<br>K. Chettipalayam, Dharapuram Road,<br> Tirupur 641608</p>
    </div>
</ion-content>
